.Heder{
    color: #0012b1a6;
    font-size: 75px;
    background-color: rgb(0, 0, 0);
 }

 button {
color: rgb(245, 245, 245);
font-size: 16px;
border-radius: 80px;
padding: 10px;    
background-color: rgb(255, 0, 0)
}

#card{
    background-color: rgb(0, 0, 0);
    height: 50px;
    width: 50px;
    transition: all ease-in-out 250ms;
    display: 250px; ;
}

#card:hover{
   slateY(50px);
}  background-color: crimson;
     transform: tran